@import "../fonts/Gillroy/stylesheet.css";
/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

:root {
    --white-color: #ffffff;
    --font-gray: #4e4e4e;
    --dark-blue: #034150;
    --gray-bg: #f9f9f9;
    --black: #000000;
    --gill: Gilroy;

}

body {
    color: var(--font-gray);
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--gill);
    background-color: #f6f6f6;
    background-image: linear-gradient(315deg, #fff 0%, #f4f4f4 74%);
}
#loader {
    position: absolute;
    background-color: #9fa4c4;
background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);

    width: 100%;
    height: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader img {
    -webkit-animation-name: spinner; 
   -webkit-animation-timing-function: linear; 
   -webkit-animation-iteration-count: infinite; 
   -webkit-animation-duration: 2s; 
   animation-name: spinner; 
   animation-timing-function: linear; 
   animation-iteration-count: infinite; 
   animation-duration: 2s; 
   -webkit-transform-style: preserve-3d; 
   -moz-transform-style: preserve-3d; 
   -ms-transform-style: preserve-3d; 
   transform-style: preserve-3d;
 }
 
 
 /* WebKit and Opera browsers */ 
 @-webkit-keyframes spinner { 
   from 
   { 
     -webkit-transform: rotateY(0deg); 
   } 
   to { 
     -webkit-transform: rotateY(-360deg); 
   } 
 } 
 /* all other browsers */ 
 @keyframes spinner { 
    from { 
     -moz-transform: rotateY(0deg); 
     -ms-transform: rotateY(0deg); 
     transform: rotateY(0deg); 
    } 
    to 
    { 
     -moz-transform: rotateY(-360deg); 
     -ms-transform: rotateY(-360deg); 
     transform: rotateY(-360deg); 
 
    } 
 }
nav ul a,
nav .brand-logo {
    color: var(--font-gray);
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

p {
    line-height: 18px;
    font-size: 18px;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.section-heading {
    text-align: center;
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: block;
    }
    .container {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 730px) {
    .background-image img {
        max-width: 800px;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

#sidenav-overlay {
    z-index: 996;
}

nav {
    height: auto;
}

.navbar-fixed nav {
    display: flex;
    flex-direction: column;
}

.top-header {
    border-bottom: 1px solid #eaeaea;
}

.top-header ul a {
    font-size: 11px;
    line-height: 40px;
}

.top-header ul {
    color: var(--font-gray);
    font-size: 11px;
    line-height: 40px;
}

.container-fluid {
    padding-left: 75px;
    padding-right: 75px;
}

nav .button-collapse {
    margin-left: 0;
}

.left-menu .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0;
}

.banner-content {
    max-width: 780px;
    margin-top: 160px;
    margin-bottom: 100px;
    color: var(--white-color);
}

.banner-content img {
    width: 230px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: bold;
}

.section.no-pad-bot .container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.btn,
.btn-large,
.btn-flat {
    border-radius: 8px;
}

#section-economy {
    position: relative;
    background-color: #ecf3f5;
    padding-top: 62px;
}

.background-image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#section-economy .section-lower-content {
    float: right;
    color: var(--font-gray);
    font-size: 15px;
    max-width: 400px;
    text-align: center;
    margin-top: 162px;
    line-height: 1.6;
    margin-bottom: 200px;
    position: relative;
    background: #ecf3f5ba;
    padding: 15px;
    border-radius: 20px;
}

.section-main-content {
    text-align: center;
    position: relative;
    z-index: 1;
}

.section-main-content h2 {
    font-size: 50px;
    color: var(--dark-blue);
    margin-bottom: 14px;
}

.container::before,
.container::after {
    display: table;
    content: "";
}

.container::after {
    clear: both;
}

.background-image img {
    max-width: 1200px;
    background-position: left;
    top: inherit;
    width: 100%;
}

#section-economy .section-lower-content h3 {
    color: var(--font-gray);
    font-size: 30px;
}

#section-economy .section-lower-content p {
    color: var(--font-gray);
    line-height: 1.6;
}

nav .brand-logo {
    font-size: 18px;
}

.blog-post .blog-image {
    position: absolute;
}

.blog-post .blog-title {
    top: 77px;
    color: var(--white-color);
    max-width: 394px;
    font-size: 15px;
    text-align: center;
    line-height: 1.6;
    position: relative;
}

#programs .blog-post .blog-title h2 {
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
    margin-bottom: 27px;
}

.blog-post .blog-post-inner {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 560px;
    overflow: hidden;
}

.blog-post .blog-post-inner .blog-image img {
    width: 100%;
}

.blog-post .blog-title p {
    font-size: 24px;
    text-align: center;
    line-height: 32px;
}

.blog-post .blog-title h2 {
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
    margin-bottom: 27px;
}

.load-more-button {
    text-align: center;
    padding-top: 42px;
    padding-bottom: 97px;
}

#programs {
    padding-top: 64px;
    background-color: var(--gray-bg);
}

#programs h2 {
    font-size: 30px;
}

.section-main-content h3 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--dark-blue);
}

#options-tabs .s12 {
    text-align: center;
}

.hobnka-section a {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #fff;
    border-bottom-color: rgb(255, 255, 255);
    line-height: 1;
    text-decoration: none;
    transition: all 0.3s;
    margin-top: 21px;
}

.custext p {
    width: 60%;
}

.service-info h3 {
    font-size: 26px;
    color: var(--dark-blue);
}

.service-info h2 {
    text-align: center;
    font-size: 40px;
    color: var(--dark-blue);
    margin-bottom: 54px;
}

.service-info p {
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 40px;
    line-height: 18px;
    color: black;
}

.service-info-inner {
    padding-top: 30px;
}

.our-contact-form-section .section-inner-content h2 {
    font-weight: 600;
    color: var(--dark-blue);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 1.5;
    margin-bottom: 22px;
}

::-webkit-input-placeholder {
    color: var(--dark-blue);
    opacity: 1 !important;
    /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder {
    /* Firefox 18- */
    color: var(--dark-blue);
    opacity: 1 !important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--dark-blue);
    opacity: 1 !important;
}

:-ms-input-placeholder {
    color: var(--dark-blue);
}

.our-contact-form-section {
    padding-top: 46px;
    padding-bottom: 384px;
}

.our-contact-form-section .section-inner-content {
    font-size: 15px;
    color: #222121;
    margin-right: 30px;
    letter-spacing: 0.1px;
    line-height: 1.34;
}

.section-inner-content {
    background: #f2f2f2e3;
    padding: 1px 10px;
    border-radius: 20px;
}

footer {
    padding-top: 32px;
    font-size: 14px;
}

footer .lower-footer {
    border-top: 1px solid #eaeaea;
    margin-top: 26px;
    padding-top: 21px;
}

footer .lower-footer p {
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
}

footer h2 {
    font-size: 20px;
    color: var(--dark-blue);
    text-transform: uppercase;
}

footer li {
    margin-bottom: 8px;
}

footer li a {
    color: var(--dark-blue);
    font-size: 14px;
}

footer .lower-footer p a {
    margin-left: 21px;
    color: var(--dark-blue);
}
div.col:nth-child(2) > div:nth-child(1) > p:nth-child(3) > a:nth-child(2) {
    color: var(--dark-blue);
}
.section-inner-content p {
    line-height: 20px;
}

.tabs .tab a {
    color: #4e4e4e;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: #4e4e4e;
    font-weight: bold;
}

.col.s4 input {
    margin: 0 0 50px 0 !important;
}

.btn,
.btn-large {
    background-color: #59557b;
}

.teal.lighten-1 {
    background-color: #59557b !important;
}

.btn:hover,
.btn:visited,
.bth:active {
    background-color: #59557b94 !important;
}

.btn-large:hover,
.btn-large:visited,
.btn-large:active {
    background-color: transparent !important;
    border: 1px solid white;
    font-weight: bold;
}

.tabs .indicator {
    background-color: #59557b;
}

.nav-wrapper.container-fluid {
    display: flex;
    justify-content: space-between;
}

.nav-wrapper.container-fluid a {
    color: #222121;
}

.nav-wrapper.container-fluid a img {
    width: 44px;
    transform: translateY(10px);
}

.blog-post .blog-title {
    position: absolute;
    top: 77px;
    color: #fff;
    max-width: 394px;
    left: 18%;
    right: 0;
    font-size: 15px;
    text-align: center;
    line-height: 1.6;
}

.our-program-section .blog-post .blog-title {
    left: 0;
    right: 0;
    max-width: 100%;
    text-align: left;
}

.our-program-section .blog-post .blog-title {
    top: 50%;
    transform: translateY(-50%);
}

.our-program-section .blog-post-inner-title {
    max-width: 519px;
    font-size: 19px;
    letter-spacing: 0.1px;
    line-height: 1.46;
}

.our-program-section .blog-image {
    position: relative;
    height: 547px;
    overflow: hidden;
}

body .our-program-section .blog-image img {
    position: absolute;
    left: -50%;
    top: -50%;
    bottom: -50%;
    right: -50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    max-width: 1000%;
    margin: auto;
}

.our-program-section .blog-post .blog-post-inner {
    display: block;
    height: auto;
}

.our-program-section .blog-post .blog-post-inner .blog-image img {
    width: auto;
}

.our-program-section .lef-heading {
    float: left;
    width: 150px;
    padding-top: 3px;
    padding-left: 14px;
}

.our-program-section .lef-heading h3 {
    text-align: left;
    line-height: 1.34;
    margin: 13px 0;
    font-size: 24px;
}

.our-program-section .blog-post .blog-title p {
    text-align: start;
}

.our-program-section .blog-post-inner-title h2 {
    padding: 0;
}

.blog-lower-detail {
    color: var(--white-color)
}

.our-program-section .blog-post .blog-lower-detail .lower-inner {
    padding: 10px 11px 9px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 21px;
    margin-right: -6px;
    margin-left: -6px;
}

.our-program-section .primary-price {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
}

.our-program-section .blog-post .blog-lower-detail .lower-inner .meat-button .btn {
    margin-left: 30px;
    font-size: 14px;
}

.our-program-section .lower-inner::after {
    content: "";
    display: table;
    clear: both;
}

.lower-inner p {
    white-space: nowrap;
    margin: 0;
}

.our-program-section .blog-post .blog-post-inner .sec-price {
    letter-spacing: 0;
    display: inline-block;
    font-size: 16px;
    margin-left: 18px;
    margin-top: 18px;
    margin-bottom: 0;
    vertical-align: middle;
}

.our-program-section .blog-post .blog-post-inner .sec-price p {
    margin: 0 0 10px;
}

.our-program-section.program-light .blog-post .blog-title {
    color: var(--black);
}

.blog-lower-detail {
    background-color: #bd4f6c;
    background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);
}

.our-blog-section.program-card-section .btn:hover,
.our-blog-section.program-card-section .btn:visited,
.our-blog-section.program-card-section .bth:active {
    background-color: transparent !important;
    border: 1px solid white;
}

.site-main-banner .banner-inner-content {
    top: 50%;
    transform: translate(3%, 20%);
    padding-top: 150px;
    left: 50%;
    right: 0;
    color: #fff;
    max-width: 670px;
    padding-bottom: 31px;
}

.site-main-banner.site-inner-banner {
    height: 547px;
    min-height: 0;
    text-align: left;
    max-height: 547px;
}

.site-main-banner.site-inner-banner .banner-inner-content h2 {
    font-size: 60px;
    max-width: 369px;
}

.total-current-price h4 {
    color: var(--black);
    margin-top: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}
.banner-inner-content > div:nth-child(1) > p:nth-child(2) {
    line-height: normal;
    font-size: 28px;
}

.collapsible-body {
    padding: 18px 19px;
}

.submit-button .btn {
    width: 100%;
}

body nav div #logo-container img {
    width: 70px;
    transform: none;    
}

#options-tabs {
    background: var(--gray-bg);
}

.nav-wrapper.container-fluid a i {
    padding-right: 10px;
}

.button-collapse {
    display: flex;
    align-items: center;
}

.carousel-item p {
    text-align: center;
    color: var(--dark-blue);
    font-size: 16px;
}

div.col:nth-child(6)>h2:nth-child(1) {
    font-size: 40px;
    color: var(--dark-blue);
}

.hamburger-icon {
    display: flex !important;
}

.total-current-price p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #034150;
}

.lower-inner:hover {
    content: '';
}
#root {
    margin-top: 180px;
}
#react-cart section {
  display: block;
}
.input-field > select {
  position: relative;
  opacity: 1;
  width: 100%;
  pointer-events: auto;
  margin: 0!important;
  border-radius: 10px;
}
#react-cart > div > div > div.form-area > form > div:nth-child(4) > div {
  margin: 0;
  width: 100%;
}
#cart-promo {
    padding-left: 20px;
}
.form-group.double > div {
    width: 100%;
    margin: 0;
}
.form-group.double {
    position: relative;
}
.check-code {
    margin: 0!important;
    position: absolute;
    right: 0;
    top: 3px;
    width: 45px;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 45px;
    align-items: center;
    color:
    white;
}
.cart-to-menu {
    padding: 10px 20px;
    border: 1px solid#cecdcd;
    border-radius: 5px;
    color: #59557b;
}
.programm-cart {
    margin-top: 20px;
    justify-content: center;
}
.info-area {
    padding: 5px 20px;
    border-radius: 5px;
}
.info-area h3 {
    font-size: 32px;
    color: var(--dark-blue);
}
#react-cart {
    margin-top: 120px;
    margin-bottom: 100px;
}
footer {
    border-top: 1px solid#cecdcd;
}
.cart__order-button {
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #21b314 74%);
    border-radius: 5px;
    color: white;
    border: none;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
}
.promo-true {
    font-weight: bold;
    color: #00b712;
}
.promo-false {
    font-weight: bold;
    color: #d7816a;
}
#react-cart h2 {
    color: var(--dark-blue);
}
select {
    border: 1px solid #9e9e9e;
}
.info-area img {
    padding: 0 20px;
}
br {
    margin-bottom: 10px;
}
.info-area > p:nth-child(3) {
    font-weight: bold;
    color: var(--dark-blue);
}
.order-info-area img {
    padding: 0 20px;
}
.blog-lower-detail .row .col.s3 {
    width: 27%;
}
.tabs.tabs-fixed-width {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#options-tabs #option1,
#options-tabs #option2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button[disabled], html input[disabled] {
    background: gray;
}
@media (max-width: 1400px) {
    .our-program-section .blog-post .blog-lower-detail .lower-inner {
        flex-direction: column;
        align-items: baseline;
    }
    .our-program-section .blog-post .blog-lower-detail .lower-inner .meat-button .btn {
        margin: 10px 0 0;
    }
}

@media (max-width: 1200px) {
    .blog-post .blog-title {
        left: 13%;
    }
    .our-program-section .blog-post .blog-lower-detail .lower-inner {
        flex-direction: column;
        align-items: baseline;
    }
    .our-program-section .blog-post .blog-lower-detail .lower-inner .meat-button .btn {
        margin: 10px 0 0;
    }
}
@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: auto;
        transform: none;
    }
}
@media (max-width: 800px) {
    nav .brand-logo {
        left: 47%;
    }
    body nav div #logo-container img {
        width: 50px;
    }
    .top-header,
    .nav-wrapper.container-fluid div:nth-last-child(1) {
        display: none;
    }
    .nav-wrapper.container-fluid {
        padding: 0 30px;
    }
    .nav-wrapper.container-fluid a img {
        width: 30px;
    }
    .banner-content img {
        display: none;
    }
    .banner-content h1 {
        font-size: 28px;
    }
    #main-first-section {
        height: 100vh;
    }
    .section-main-content h2 {
        font-size: 28px;
    }
    #section-economy {
        background-color: #ecf3f5;
    }
    .background-image {
        position: relative;
    }
    #section-economy .section-lower-content {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    #programs .row .col.s6 {
        width: 100%;
    }
    .blog-post .blog-post-inner .blog-image img {
        height: 450px;
    }
    #programs .blog-post .blog-title {
        position: absolute;
        color: black;
        max-width: 325px;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 15px;
        text-align: center;
        line-height: 1.6;
    }
    #programs .blog-post .blog-title h2 {
        font-size: 18px;
    }
    .blog-post .blog-post-inner {
        height: 460px;
    }
    .load-more-button {
        padding-top: 0px;
        padding-bottom: 80px;
    }
    #options-tabs img {
        width: 100%;
    }
    .custext h2,
    .custext h3 {
        font-size: 25px;
        margin: 10px 0;
    }
    .service-info .row .col.s3 {
        width: 100%;
        text-align: center;
    }
    .our-contact-form-section>.container>.row {
        display: flex;
        flex-direction: column;
    }
    .our-contact-form-section>.container>.row .col.s5,
    .our-contact-form-section>.container>.row .col.s7 {
        width: 100%;
    }
    .our-contact-form-section .section-inner-content {
        margin: 0 auto;
    }
    #anketdiet {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    #anketdiet .s4 {
        width: 100%;
    }
    .our-contact-form-section {
        padding-bottom: 0;
        background-size: auto !important;
        background-position: unset !important;
    }
    footer .row .col.s4 {
        width: 100%;
    }
    .col.s4 input {
        background: #a69d9d9e !important;
        padding-left: 20px !important;
        width: 95%;
        margin: 0 0 10px !important;
    }
    .col.s4 input::placeholder {
        color: white !important;
    }
    footer .lower-footer p {
        display: flex;
    }
    .form-submit-button input {
        width: 100%;
    }
    .service-info p {
        line-height: 28px;
    }
    .right-program-button .col.s4 {
        width: 100%;
    }
    .our-program-section .blog-post-inner-title h2 {
        font-size: 30px;
    }
    #options-tabs>.row.container {
        display: flex;
        flex-direction: column;
    }
    #options-tabs>.row.container>div {
        width: 100%;
    }
    #options-tabs>.row.container>div:nth-child(1) {
        order: 0;
    }
    #options-tabs>.row.container>div:nth-child(5) {
        order: 1;
    }
    #options-tabs>.row.container>div:nth-child(2) {
        order: 2;
    }
    #options-tabs>.row.container>div:nth-child(3) {
        order: 3;
    }
    #options-tabs>.row.container>div:nth-child(4) {
        order: 4;
    }
    #options-tabs>.row.container>div:nth-child(6) {
        order: 5;
    }
    #options-tabs>.row.container>div:nth-child(6) h2 {
        font-size: 28px;
    }
    .carousel-item p {
        text-align: center;
        color: var(--dark-blue);
        font-size: 16px;
    }
    .site-main-banner.site-inner-banner .banner-inner-content h2 {
        font-size: 40px;
        text-align: left;
    }
    .blog-lower-detail .col.s3 {
        width: 100%;
    }
    .our-program-section .blog-post .blog-lower-detail .lower-inner {
        flex-direction: row;
        justify-content: space-between;
    }
    .cart-title {
        font-size: 24px;
    }
    body .form-area {
        width: 100%;
        padding: 0;
    }
    .programm-cart {
        flex-direction: column;
    }
    body .double {
        flex-direction: column;
    }
    .check-code {
        right: -22px;
        top: 47px;
    }
    .info-area {
        padding: 10px 20px;
        margin-top: 20px;
    }
    .order-info-area img {
        padding: 0 20px;
    }
    .cart__order-button {
        width: 100%;
        height: 55px;
    }
    #cart-promo {
        padding: 0;
    }
    .check-code {
        right: 0;
    }
    #react-cart > div > div > div.form-area > form > div:nth-child(4) > div {
        margin-bottom: 10px;
    }
    .form-group select {
        border-radius: 10px;
    }
    footer div.container div.row {
        display: flex;
    }
    #react-cart {
        margin-top: 50px;
    }
    .blog-lower-detail .row .col.s3 {
        width: 100%;
    }
    .blog-post-inner-title a {
        width: 100%;
    }
    .our-program-section .blog-post .blog-post-inner .sec-price {
        margin-left: 0;
    }
    .info-area h3 {
        font-size: 25px;
    }
    .footer-menu p {
        font-size: 14px;
    }
    #react-cart {
        padding: 0 50px;
    }
    .lower-footer p {
        font-size: 14px;
    }
    .cart-container {
        padding: 0!important;
    }
}
@media only screen and (max-width: 500px) {
    .blog-post .blog-post-inner {
        height: 390px;
    }
    .blog-post .blog-post-inner .blog-image img {
        height: 380px;
    }
    .carousel {
        height: 300px;
    }
    .section-main-content.col.s9 h2{
        text-align: center;
        font-size: 36px;
    }
}
.day-plan {
    padding-left: 4px;
}
.vegan-img {
    position: absolute;
    width: 20px!important;
    margin-left: 5px;
}
.menu-logo {
    color: var(--dark-blue);
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    border-bottom: 1px solid var(--dark-blue);
    padding-bottom: 10px;
}